<launch>
	
	<node pkg="tf" type="static_transform_publisher" name="robot_base_to_camera_tf" 
		args="0, 0, 1.1385800002184254, 0, 1.0927033716239007, 0 /odom /camera_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="odom_to_base_tf" 
		args="0.135 0.0 0.202 0 0.0 0.0 /odom /base_link 100" />
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom_tf" 
		args="0.0 0.5 0.0 0.1 0.0 0.0 /map /odom 100" />
	<node pkg="tf" type="static_transform_publisher" name="obj_to_cam_tf"
		args="0.08 0.05 0.7 0.1 0.1 0.5 /camera_link /object_0 100" />  
</launch>

